@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 500; }

b, strong {
  font-weight: 500; }

em, i {
  font-style: normal; }

input {
  outline: none; }

img {
  border: 0; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clerafix {
  zoom: 1; }

#top, #nav, #banner, #case, #news, #ads, #bottom, #yqLink, #topFix {
  width: 1264px;
  margin: 0 auto; }

h4 {
  font-size: 28px;
  color: #000;
  text-align: center;
  line-height: 28px; }

h5 {
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;
  line-height: 14px;
  margin: 12px 0 20px 0; }

#yqLink {
  height: 90px;
  background: #f3f3f3;
  border-top: 4px solid #a90202; }
  #yqLink p {
    font-size: 12px;
    color: #7e7e7e;
    line-height: 12px; }
  #yqLink p:first-child {
    margin-left: 346px;
    padding-top: 18px; }
  #yqLink p:nth-child(2) {
    margin: 12px 0 16px 330px; }
    #yqLink p:nth-child(2) span {
      padding: 0 14px 0 8px;
      border-right: 1px solid #7e7e7e; }
    #yqLink p:nth-child(2) span:last-child {
      border-right: 0; }
  #yqLink p:last-child {
    margin-left: 384px; }

#top, #start {
  width: 1264px; }

#top {
  height: 140px; }
  #top .logo {
    padding: 48px 0 0 147px; }

#start {
  width: 494px;
  padding-left: 770px;
  height: 440px;
  padding-top: 35px; }
  #start h2 {
    font-size: 12px;
    height: 60px; }
    #start h2 p {
      font-size: 20px;
      color: #c41f3a;
      float: left;
      margin-right: 100px;
      line-height: 20px; }
    #start h2 span {
      float: left;
      color: #8c8c8c;
      height: 20px;
      line-height: 20px; }
    #start h2 a {
      float: left;
      height: 20px;
      line-height: 20px;
      color: #c41f3a; }

#yqLink {
  border-top: 0; }

#start form {
  width: 350px;
  height: 290px;
  position: relative; }
  #start form input {
    width: 300px;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #c8c8c8;
    padding-left: 3px; }
  #start form input:nth-of-type(3) {
    width: 170px; }
  #start form input:nth-of-type(4) {
    position: absolute;
    left: -140px;
    top: 160px; }
  #start form input:last-of-type {
    background: #94193f;
    margin-top: 30px;
    font-size: 16px;
    color: #fff; }
  #start form input:last-of-type:hover {
    cursor: pointer;
    background: #a82045; }
  #start form a:first-of-type {
    position: absolute;
    left: 173px;
    top: 115px;
    border: 1px solid #eaeaea;
    letter-spacing: 5px;
    text-align: center;
    font-size: 18px;
    display: block;
    background: #aaa;
    width: 90px;
    height: 43px;
    line-height: 40px; }
  #start form span {
    position: absolute;
    left: 20px;
    top: 175px;
    font-size: 12px;
    color: #000; }
  #start form a:last-of-type {
    position: absolute;
    left: 230px;
    top: 173px;
    font-size: 12px;
    color: #595959; }
